# Importing Libraries

In [3]:
import numpy as np
import pandas as pd

# Loading the data and selecting features

## Import data

In [32]:
loan_data_inputs_train = pd.read_csv('loan_data_inputs_train.csv', index_col = 0)
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0, header = None)
loan_data_inputs_test = pd.read_csv('loan_data_inputs_test.csv', index_col = 0)
loan_data_targets_test = pd.read_csv('loan_data_targets_test.csv', index_col = 0, header = None)

/var/folders/c7/k8g5240j0sg5hnv2yr82mp580000gn/T/ipykernel_33760/3028036206.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0, header = None)

## Explore data

In [33]:
loan_data_inputs_train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
427211,12796369,14818505,24000,24000,24000.0,36 months,8.90,762.08,A,A5,...,0,0,0,0,0,0,0,0,1,0
206088,1439740,1691948,10000,10000,10000.0,36 months,14.33,343.39,C,C1,...,0,0,0,0,0,0,0,0,1,0
136020,5214749,6556909,20425,20425,20425.0,36 months,8.90,648.56,A,A5,...,0,0,0,0,0,0,0,0,1,0
412305,13827698,15890016,17200,17200,17200.0,36 months,16.59,609.73,D,D1,...,0,0,0,0,0,0,0,0,1,0
36159,422455,496525,8400,8400,7450.0,36 months,12.84,282.40,C,C2,...,0,0,0,0,0,0,0,0,1,0

In [34]:
loan_data_targets_train.head()

                 1
0
NaN       good_bad
427211.0         1
206088.0         1
136020.0         1
412305.0         0

In [35]:
loan_data_inputs_train.shape

(373028, 206)

In [36]:
loan_data_targets_train.shape

(373029, 1)

In [39]:
loan_data_inputs_test.shape

(93257, 323)

In [38]:
loan_data_targets_test.shape

(93258, 1)